*-plan
*-plans
output.s
comp.output
experiments/*
tests/output
challenges
plan-*
how-it-works
*-notes
problems
note-*
variables
awesome-ideas
opcodes
yacc-parts
phase-4-backend/exported.c
include/generator/backend-exported.h
include/loader-macro.h
